@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
#about {
	position: relative;
	animation: bounceback;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	transition: transform 0.01s;
}
@keyframes bounceback {
	0%{top:-600px;}
	80%{
		top: 100px;
	}
	100%{
		top:0px;
	}
}
.tabs .indicator {
	background-color: #1a237e;
}
.section {
	margin-top: 3rem;
}
.fixed-top {
	height: 6rem;
	position: fixed;
	align-items: center;
	justify-content: flex-end;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
}
blockquote {
	border-left: 5px solid #1a237e;
}
.yellowText {
	color: #ffab40;
	cursor: pointer;
}
.date {
	font-size: 80%;
	color: #26a69a;
	line-height: 32px;
}
.txt-type > .txt {
	border-right: 0.2rem solid #333;
}
#type-writer {
	margin-top: 18rem;
	position: relative;
	animation: anti-imbalance;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	transition: transform 0.01s;
	margin-bottom: 13rem;
	text-align: center;
	font-family: 'Courgette', cursive;
}
@keyframes anti-imbalance {
	0%{right:-700px;}
	80%{
		right: 200px;
	}
	100%{
		right:0px;
	}
}

img {
	height: 300px;
	width: 300px;
}

.whatsapp {
	background-color: #01e675;
	color: #fff !important;
}